@media screen and (max-width: 1200px) {
  .wrapper main#news-content .content {
    gap: 20px 30px;
  }

  .wrapper main#news-content .content .news-card {
    gap: 15px;
  }

  .wrapper main#news-content .content .news-card .card-img-pic {
    width: 140%;
  }

  .wrapper main#news-content .news-head ul.news-badges li button {
    padding: 12px 10px;
  }

  .wrapper main#news-content .news-head ul.news-badges {
    gap: 5px;
  }
}

@media screen and (max-width: 992px) {
  .wrapper main#news-content .content {
    grid-template-columns: 1fr;

    & .news-card:nth-child(3),
    .news-card:nth-child(4) {
      display: none;
    }
  }

  .wrapper main#news-content .content .news-card {
    display: flex;
    flex-direction: column;
  }

  .wrapper main#news-content .content .news-card .card-img-pic {
    width: 100%;
    max-width: 100%;
    height: unset;
    border-radius: 12px;

    img {
      border-radius: 12px;
    }
  }

  .wrapper main#news-content .news-head {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: none;
  }

  .wrapper main#news-content .news-head h2 {
    width: 100%;
    border-bottom: 1px solid rgba(60, 60, 60, 0.18);
  }

  .wrapper main#news-content .news-head ul.news-badges {
    display: flex;
    flex-wrap: nowrap !important;
    border-bottom: none;
    width: 100%;
  }

  .wrapper main#news-content .news-head .badges {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 768px) {
  .wrapper main#news-content .content .news-card .card-info h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 106.8%; /* 29.904px */
    text-transform: uppercase;
  }
}

@media screen and (max-width: 576px) {
}
