.wrapper {
  header.header {
    .header__top {
      .logo-1 {
        display: none;
      }

      .logo-2 {
        display: block;
      }

      .burger-menu span {
        background-color: #3c3c3c;
      }
    }
  }

  main#article-info {
    margin-top: 80px;

    .article-head {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(60, 60, 60, 0.18);
      margin-bottom: 45px;

      ul.news-badges {
        display: flex;
        align-items: center;
        gap: 11px;
        list-style: none;

        li {
          span {
            color: rgba(60, 60, 60, 0.18);

            text-align: center;
            font-family: Achieve;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 124.8%;
            letter-spacing: 0.72px;
            text-transform: uppercase;
          }

          a {
            color: #9a9c9c;
            text-align: center;
            font-family: "BlissPro";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 124.8%;
            text-transform: uppercase;
            text-decoration: none;

            &.active {
              color: #007295;
            }
          }
        }
      }
    }

    .article-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: #000;
        font-family: "BlissPro", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 134.2%; /* 24.156px */
        text-transform: uppercase;
        opacity: 0.5;
        margin-bottom: 17px;
      }

      h1 {
        color: var(--Main-color, #007295);
        text-align: center;
        font-family: TERRANICA;
        font-size: 37px;
        font-style: normal;
        font-weight: 400;
        line-height: 168%; /* 62.16px */
        letter-spacing: 1.48px;
        text-transform: uppercase;
        margin-bottom: 27px;
      }

      .content-img {
        width: 100%;
        max-width: 950px;
        height: 365px;
        margin-bottom: 48px;
        border-radius: 25px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 25px;
          object-fit: cover;
        }
      }

      .article-text {
        max-width: 650px;
        margin-bottom: 35px;

        p {
          color: #8a8a8a;
          font-family: "BlissPro", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 25px;
        }
      }
    }
  }

  #article-main {
    width: 100%;
    height: 100vh;

    #home-main-video {
      width: 100%;
      height: 100vh;
    }
  }

  #news-part {
    padding-top: 87px;
    padding-bottom: 56px;

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;

      .news-card {
        display: flex;
        align-items: start;
        gap: 27px;
        padding-bottom: 40px;

        .card-img {
          max-width: 195px;
          width: 100%;
          height: 169px;
          border-radius: 28px;
          padding-top: 9px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 28px;
            object-fit: cover;
          }
        }

        .card-info {
          display: flex;
          flex-direction: column;
          align-items: start;

          h3 {
            color: var(--Main-color, #007295);
            font-family: "BlissPro", sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 106.8%;
            text-transform: uppercase;
            margin-bottom: 8px;
          }

          span {
            color: var(--Gray, #3c3c3c);
            font-family: "BlissPro", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 131.8%;
            margin-bottom: 13px;
          }

          p {
            color: #8a8a8a;
            font-family: "BlissPro", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 131.8%;
          }
        }
      }
    }

    .more-button {
      text-align: center;

      button {
        padding: 16px 45px;
        border-radius: 7.883px;
        border: 1px solid var(--Main-color, #007295);
        color: var(--Main-color, #007295);
        text-align: center;
        font-family: "BlissPro", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 134.2%; /* 24.156px */
        letter-spacing: 0.72px;
        text-transform: uppercase;
        background: transparent;
        transition: 0.2s;

        &:hover {
          background: var(--Main-color, #007295);
          color: var(--White, #fff);
        }
      }
    }
  }
}
