@media screen and (max-width: 1200px) {
  .content-mobile {
    display: none;
  }

  #preorder .order-modal h2 {
    font-size: 42px;
  }

  .hmenu {
    margin-top: 70px;
  }

  .hmenu__h-contacts {
    padding-right: 20px;
  }

  .hmenu__h-menu {
    padding-left: 35px;
  }

  .hmenu-ul__link {
    font-size: 38px;
  }
}

@media screen and (max-width: 992px) {
  #security .content-mobile {
    display: none;
  }
  #security .content {
    display: block;
  }

  .header-menu-mobile {
    display: none;
    opacity: 0 !important;
  }

  .hmenu-ul--active {
    margin-left: -35px;
  }

  .content-mobile {
    display: none;
  }

  .noscroll {
    padding: 0;
  }

  #preorder .order-modal {
    grid-template-columns: 1fr;
    padding: 60px 80px;
    text-align: center;

    p {
      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .header__top {
    padding: 16px 14px !important;
    width: 100vw;
    position: relative;
  }

  .header__main {
    position: unset;
    padding: 0 !important;
  }

  .header__menu {
    width: 100vw;
    height: unset;
  }

  .noscroll {
    padding: 0;
  }

  .hmenu.container {
    display: none;
  }

  .header-menu-mobile,
  .contacts-menu-mobile {
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 60px;

    h2 {
      color: var(--Gray, #3c3c3c);
      font-family: "BlissPro", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: 98.3%;
      text-transform: uppercase;
      margin-bottom: 18px;
    }

    .hmenu-ul {
      width: 100%;
      display: flex;
      gap: 24px;
      flex-direction: column;
      padding-bottom: 20px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(112, 127, 255, 0.21);

      .hmenu-ul__item {
        color: var(--Gray, #3c3c3c);
        font-family: "BlissPro", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 38px;
        text-transform: uppercase;
      }
    }

    .menu-contacts {
      h4 a {
        color: var(--Main-color, #007295);
        font-family: "BlissPro", sans-serif;
        font-size: 23px;
        font-style: normal;
        font-weight: 900;
        line-height: 120.8%;
        text-decoration: none;
      }

      p {
        margin-top: 8px;
        color: #9a9c9c;
        font-family: "BlissPro", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 120.8%; /* 18.12px */
      }
    }

    .mobile-map {
      width: 100vw;
      height: 370px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -16px;
      margin-top: 25px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .contacts-menu-mobile {
    height: 100%;
    display: none;
  }

  .header-nav {
    padding: 0;
  }

  .h-mid__h1-title {
    color: var(--White, #fff);
    text-align: center;
    font-family: TERRANICA;
    font-size: 35.791px;
    font-style: normal;
    font-weight: 400;
    line-height: 48.695px;
    letter-spacing: 1.432px;
    text-transform: uppercase;
  }

  .h-mid__button {
    margin-top: 0;
  }

  .header #float__video {
    width: 156px;
    height: 87px;
    bottom: 5%;
    right: 10px;
  }

  #security {
    height: unset;
    padding-bottom: 65px;
    padding-top: 45px;

    .categories {
      margin-bottom: 21px;
    }
  }

  #security .categories {
    overflow-x: auto;
    padding-left: 0px;
  }

  #security .bg-images {
    display: none;
  }

  #security .content {
    display: none;
  }

  #security .content-mobile {
    display: block;

    h2 {
      max-width: 325px;
      white-space: pre-wrap;
      font-family: "TERRANICA", sans-serif;
      text-transform: uppercase;
      color: #fff;
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    p {
      color: #9a9c9c;
      font-family: "BlissPro", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 450px;
    }

    .content-video {
      max-width: 558px;
      border-radius: 12px;
      cursor: pointer;
      margin-bottom: 15px;

      img {
        box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.25);
        width: 100%;
        border-radius: 12px;
      }
    }

    button {
      color: var(--Main-color, #007295);
      font-family: "BlissPro", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 131.8%;
      background: none;
      border: none;
      outline: none;
    }
  }

  #three_model .colors button h5 {
    top: 40px;
  }

  #three_model {
    padding-top: 68px;

    h2 {
      padding: 0 14px;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 168%;
      letter-spacing: 1.04px;
      text-align: left;
      margin-bottom: 17px;
    }

    p {
      padding: 0 14px;
      text-align: left;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120.8%;
      margin-bottom: 5px;
    }

    .three-model {
      width: 100vw;
      height: 500px;

      .threejs-model {
        height: 100%;
      }
    }
  }
  #three_model .three-model .bg-text {
    display: none;
  }

  #three_model .colors {
    gap: 0;
    overflow-x: auto;
  }

  #three_model .colors button .color-box {
    width: 40px;
    height: 40px;
  }
  #three_model .colors button span {
    width: 28px;
    height: 28px;
  }

  #three_model .colors button:hover span {
    width: 42px;
    height: 42px;
  }

  #gallery {
    .gallery-content .carousel-item {
      height: unset;
    }

    .gallery-nav {
      align-items: center !important;
      margin: auto;
    }

    .slider-control {
      display: flex;
      align-items: center;
      gap: 23px;

      button {
        border: none;
        outline: none;
        width: 21px;
        height: 23px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .show {
        display: flex;
        align-items: flex-end;

        h4 {
          font-size: 44px;
          font-weight: 400;
          line-height: 46px;
          color: #007295;
        }

        span {
          font-size: 22px;
          line-height: 32px;
          color: #9a9c9c;
        }

        h5 {
          font-size: 22px;
          font-weight: 400;
          line-height: 32px;
          color: #9a9c9c;
        }
      }
    }

    .mobile-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;

      .dots {
        display: flex;
        align-items: center;
        gap: 14px;

        span {
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #72adbe;
          cursor: pointer;

          &.active {
            background: #007295;
          }
        }
      }
    }
  }

  #interior {
    padding-top: 95px;

    .head {
      padding-bottom: 15px;

      h2 {
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 168%;
        letter-spacing: 1.04px;
        text-transform: uppercase;
      }

      .categories {
        overflow-x: auto;
        padding-left: 0px;
      }
    }
  }

  #interior .head .categories .category-box:focus-within .popover {
    //
    display: none;
    //

    position: fixed;
    z-index: 350;
    width: 100vw;
    height: 450px;
    right: 10px;
    left: 10px;
    top: 25%;
    transform: unset;
  }

  #preorder {
    padding-top: 46px;
    min-height: 1030px;

    .order-modal {
      padding: 50px 20px 15px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(
        116deg,
        rgba(15, 15, 15, 0.17) -16.31%,
        rgba(184, 190, 252, 0.17) 67.57%
      );

      h2 {
        width: 100%;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 168%;
        letter-spacing: 1.04px;
        text-transform: uppercase;
        margin-bottom: 13px;
        text-align: center;
      }

      p {
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 120.8%;
        text-align: center;
        margin-bottom: 0;
      }

      form .submit-button {
        width: 100%;
      }
    }
  }

  .footer {
    position: relative;

    .footer__mid {
      display: flex;
      flex-direction: column;
      align-items: start !important;
    }

    .f-mid-block__f-contacts {
      padding: 0;
      margin: 0;
    }

    .f-mid-icon {
      position: absolute;
      top: 40px;
      right: 10px;
    }
  }

  .hmenu-ul--active {
    margin-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  #security .categories {
    padding-left: 80px;
  }

  #interior .head .categories {
    padding-left: 65px;
  }
}
