/* Шрифт для заголовков */
@font-face {
  font-family: "Terranica";
  src: url("../fonts/TERRANICA.ttf");
}

/* Шрифт для описаний */

/* Лайт */
@font-face {
  font-weight: 400;
  font-family: "BlissPro";
  src: url("../fonts/BlissPro-ExtraLight.ttf");
}

/* Регуляр */
@font-face {
  font-weight: normal;
  font-family: "BlissPro";
  src: url("../fonts/BlissPro-Medium.ttf");
}

/* Болд */
@font-face {
  font-weight: bold;
  font-family: "BlissPro";
  src: url("../fonts/BlissPro-Heavy.ttf");
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move-up {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}
@-moz-keyframes move-up {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}
@-ms-keyframes move-up {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}

/* Сброс стилей */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BlissPro", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background: #f1f1f1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f1f1f1;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

/* Стили UI */

.bterr {
  border: none;
  background: #313131;
  font-size: 18px;
  border-radius: 7px;
  padding: 16.84px 45.47px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}

.bterr:hover {
  background: #0f0f0f;
}

.iterr {
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
  padding: 15px;
}

.black span {
  background: #000 !important;
}

.h3-title {
  font-size: 37px;
  color: #007295;
  font-weight: 4000;
  font-family: "TERRANICA";
  text-transform: uppercase;
}

/* Базовые настройки */

.container {
  width: 90%;
  margin: auto;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  z-index: 20;
}

.burger-menu span {
  display: block;
  background: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  transition: 0.3s;
}

.burger-menu span:nth-child(1) {
  width: 23px;
  top: 0;
  right: 0;
}

.burger-menu span:nth-child(2) {
  top: 8px;
  transition: none;
}

.burger-menu span:nth-child(3) {
  top: 16px;
}

.burger-menu--active span {
  background: #000;
}

.burger-menu--active span:nth-child(2) {
  visibility: hidden;
}

.burger-menu--active span:nth-child(1) {
  transform: rotate(-40deg);
  top: 8px;
  width: 100%;
}

.burger-menu--active span:nth-child(3) {
  transform: rotate(40deg);
  width: 100%;
  top: 8px;
}

.noscroll {
  overflow-y: hidden;
  padding-right: 16px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.overlay--active {
  visibility: visible;
}

.overlay-container {
  position: relative;
}

.overlay-container > img {
  width: 300px;
}

.overlay-close {
  background: none;
  color: #fff;
  font-size: 20px;
  border: none;
  position: absolute;
  top: -20px;
  right: -20px;
}

.overlay-close img {
  width: 20px;
}

/* HEADER */

.header {
  background: #f1f1f1;
}

.h-main {
  background: url("../img/header-screen.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
  position: relative;
}

.h-main .header__main {
  height: 100vh;
}

.h-mid__span {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.h-mid__h1-title {
  font-size: 51px;
  color: #fff;
  font-weight: 400;
  font-family: "TERRANICA", sans-serif;
  text-transform: uppercase;
}

.h-mid__button {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 0px 0px 4px #96dfff;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.h-mid__button img:nth-child(2) {
  display: none;
}

.h-mid__button:hover {
  color: #3c3c3c;
  text-shadow: none;
}

.h-mid__button:hover img:nth-child(1) {
  display: none;
}
.h-mid__button:hover img:nth-child(2) {
  display: inline-block;
}

.h-mid__button img {
  margin-right: 10px;
}

.header__menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
  z-index: 19;
}

.header__menu--active {
  visibility: visible;
  opacity: 1;
}

.logo {
  position: relative;
  z-index: 20;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img:nth-child(2) {
  display: none;
}

.logo--active img:nth-child(2) {
  display: block;
}
.logo--active img:nth-child(1) {
  display: none;
}

.hmenu {
  margin-top: 80px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hmenu__h3-title {
  color: #3c3c3c;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.hmenu__l-contacts {
  list-style: none;
  padding: 0;
}

.l-contacts__item {
  font-size: 25px;
  color: #007295;
  font-weight: bold;
  cursor: pointer;
}

.l-contacts__item:hover {
  color: #04556d;
}

.h-menu__h-slinks p {
  font-size: 18px;
  color: #9a9c9c;
}

.h-slinks {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.h-slinks__item:not(:first-child) {
  margin-left: 20px;
}

.hmenu__twork {
  padding: 0;
  list-style: none;
}

.twork__item {
  font-size: 18px;
  color: #9a9c9c;
}

.twork__item:not(:first-child) {
  margin-top: 15px;
}

.twork__item span {
  font-weight: bold;
  color: #000;
}

.hmenu__button {
  margin-top: 20px;
}

.hmenu__subus {
  margin-top: 60px;
}

.subus__sul {
  list-style: none;
  padding: 0;
}

.sul__link img {
  width: 30px;
}

.sul__item:not(:first-child) {
  margin-left: 20px;
}

.logos img:not(:first-child) {
  margin-left: 20px;
}

.logos span {
  display: block;
  height: 100%;
  width: 1px;
  background: #000;
}

.hmenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hmenu__h-menu {
  padding-left: 100px;
}

.h-line {
  width: 2px;
  height: 100%;
  background: #707fff36;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hmenu__h-contacts {
  padding-right: 100px;
}

.hmenu-ul {
  list-style: none;
  padding: 0;
  line-height: 57px;
}

.hmenu-ul__link {
  color: #3c3c3c;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
}

.hmenu-ul__link:hover {
  opacity: 0.6;
  color: #3c3c3c;
}

.hmenu-ul--active {
  margin-left: -40px;
  display: flex;
  align-items: center;
}

.hmenu-ul--active:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #007295;
  border-radius: 100px;
  margin-right: 15px;
}

/* END HEADER */

/* FOOTER */

.footer {
  background: #0f0f0f;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 0;
}

.header__top {
  max-width: 1140px;
  width: 100%;
  position: fixed;
  padding-right: 15px;
  z-index: 150;
  top: 0;
}

.header-nav {
  padding: 30px 0;
}

.f-mid__ul {
  color: #fff;
  list-style: none;
  padding: 0;
}

.f-mid__item {
  font-size: 25px;
}

.f-mid__subtitle {
  font-size: 18px;
  color: #777777;
}

.socials-l {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.socials-l__item:not(:first-child) {
  margin-left: 30px;
}

.f-mid-block__f-contacts {
  list-style: none;
}

.f-contacts__item {
  color: #fff;
}

.f-contacts__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-family: "BlissPro";
  transition: 0.1s;
}

.f-contacts__link p {
  opacity: 0.4;
}

.s-list {
  list-style: none;
  padding: 0;
}

.s-list__item:not(:first-child) {
  margin-left: 20px;
}

.f-mid-title {
  font-size: 18px;
  text-align: right;
  color: #fff;
  opacity: 0.4;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.footer__bottom {
  border-top: 1px solid #8d8d8d;
  padding-top: 40px;
  padding-bottom: 20px;
}

.f-bottom__p {
  color: #fff;
  opacity: 0.5;
}

/* END FOOTER */

/* ABOUT */

.about {
  padding: 40px 0;
  position: relative;
}

.about-top {
  border-top: 1px solid #3c3c3c2e;
  padding-top: 30px;
  margin-top: 20px;
}

.about-top__t-desc {
  font-size: 22px;
  font-weight: 500;
  color: #3c3c3c;
  width: 700px;
}

.about-top__blocks {
  align-items: flex-start;
}

.at-block {
  position: relative;
}

.at-block p {
  font-size: 18px;
  font-weight: 400;
  color: #8a8a8a;
  line-height: 23px;
}

.at-block p:first-child {
  margin-top: 40px;
}

.at-block img {
  position: relative;
  z-index: 2;
}

.at-block:nth-child(2):after {
  content: "";
  display: block;
  width: 474px;
  height: 474px;
  border-radius: 100%;
  background: #007295;
  position: absolute;
  top: -40px;
  right: 0;
}

.about-down {
  padding-top: 100px;
  padding-bottom: 40px;
}

.about-down img {
  filter: grayscale(1);
  transition: 0.3s;
  cursor: pointer;
}

.about-down img:hover {
  filter: grayscale(0);
}

.about-down__blocks {
  display: grid;
  grid-template-columns: repeat(2, 500px);
}

.ad-block__top {
  border-bottom: 1px solid #3c3c3c2e;
  margin-bottom: 20px;
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.ad-block__top h3 {
  text-transform: uppercase;
  font-size: 40px;
  color: #3c3c3c;
}

.ad-arrow svg {
  transform: rotate(-90deg);
}

.ad-arrow--active svg {
  transform: rotate(0);
}

.ad-block {
  display: block !important;
}

.ad-block__down {
  display: none;
}

.ad-block__down--active {
  display: block;
}

/* SUPPORT */

.support__main {
  background: #007295;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.support__img img {
  border-radius: 20px;
}

.support__img img:first-child {
  filter: hue-rotate(166deg);
}

.support__img img:nth-child(1) {
  filter: sepia(100%) brightness(87%) saturate(216%) contrast(112%) invert(5%);
  -webkit-filter: sepia(100%) brightness(87%) saturate(216%) contrast(112%)
    invert(5%);
  -moz-filter: sepia(100%) brightness(87%) saturate(216%) contrast(112%)
    invert(5%);
}

.support__img img:nth-child(2) {
  filter: sepia(100%) hue-rotate(166deg) saturate(116%) contrast(143%);
  -webkit-filter: sepia(100%) hue-rotate(166deg) saturate(116%) contrast(143%);
  -moz-filter: sepia(100%) hue-rotate(166deg) saturate(116%) contrast(143%);
}
.support__img img:not(:first-child) {
  margin-top: 20px;
}

.support__h3-title {
  font-size: 37px;
  font-weight: 400;
  font-family: "TERRANICA";
  color: #fff;
  text-transform: uppercase;
}

.support__line {
  width: 100%;
  height: 1px;
  background: #ffffff2e;
  margin-top: 20px;
  margin-bottom: 20px;
}

.support__text {
  margin-left: 60px;
}

.support__p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  opacity: 0.62;
  padding-right: 80px;
}

/* DEALER */

.dealer {
  padding-top: 40px;
  padding-bottom: 80px;
}

.dealer__d-blocks {
  display: grid;
  grid-template-columns: 60% 40%;
}

.d-blocks__d-block p {
  font-size: 18px;
  color: #8a8a8a;
  font-weight: 400;
}

.dealer__h3-title {
  border-bottom: 1px solid #3c3c3c2e;
  padding-bottom: 20px;
}

.d-blocks__d-block {
  margin-right: 80px;
  margin-top: 40px;
}

.d-form__h4-title {
  font-size: 40px;
  color: #ffffff;
}

.d-form {
  padding: 40px 20px;
  border-radius: 20px;
  background: rgb(177, 177, 177);
  background: linear-gradient(
    115.78deg,
    rgba(15, 15, 15, 0.17) -16.31%,
    rgba(184, 190, 252, 0.17) 67.57%
  );
}

.d-form input:not(:first-child) {
  margin-top: 20px;
}

.d-form textarea {
  margin-top: 20px;
}

.d-form input[type="submit"] {
  padding: 10px;
  width: 100%;
}

.d-check {
  font-size: 12px;
  color: #3c3c3c96;
}

.d-check {
  display: grid;
  grid-template-columns: 20px 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.d-check-block {
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.d-check img {
  display: none;
}

#d-check:checked ~ .d-check img {
  display: block;
}

/* home style */

.header {
  #float__video {
    width: 294px;
    height: 164px;
    position: absolute;
    border-radius: 11px;
    bottom: 10%;
    right: 5%;

    .corner__img {
      top: 0;
      left: 0;
    }

    .video__content {
      width: 100%;
      height: 100%;
      border-radius: 11px;

      img {
        border-radius: 11px;
      }
    }

    .video-controllers {
      position: absolute;
      bottom: 15px;
      right: 15px;

      button {
        width: 40px;
        height: 40px;
        outline: none;
        background: transparent;
        border: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url(../img/home/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}

#security {
  width: 100%;
  height: 100vh;
  background-color: #d9dede;
  padding-top: 110px;
  padding-bottom: 158px;
  position: relative;

  .container {
    height: 100%;
  }

  .categories {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 65px;
    margin-bottom: 100px;
    position: relative;
    z-index: 10;

    .category-box {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: none;
      transition: 0.3s;

      &:hover {
        width: 60px;
        height: 60px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .content {
    display: grid;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    &::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: #e4e8e8;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #4c9cb5;
    }

    h2 {
      max-width: 325px;
      white-space: pre-wrap;
      font-family: "TERRANICA", sans-serif;
      text-transform: uppercase;
      color: #fff;
      font-size: 28px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    p {
      color: #9a9c9c;
      font-family: "BlissPro", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 450px;
    }

    .content-video {
      max-width: 558px;
      border-radius: 12px;
      padding-right: 50px;
      cursor: pointer;

      img {
        box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.25);
        width: 100%;
        border-radius: 12px;
      }
    }
  }

  .bg-images {
    overflow: hidden;

    img.first {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    img.second {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }
}

#three_model {
  text-align: center;
  padding-top: 178px;
  padding-bottom: 52px;
  background: linear-gradient(180deg, #fff 0%, #d9dede 100%);

  h2 {
    max-width: 900px;
    margin: auto;
    color: var(--Main-color, #007295);
    text-align: center;
    font-family: "TERRANICA";
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 168%;
    letter-spacing: 1.48px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  p {
    color: #969696;
    text-align: center;
    font-family: "BlissPro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.8%;
    margin-bottom: 45px;
  }

  .colors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    min-height: 85px;
    margin-bottom: 20px;

    button {
      border: none;
      outline: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: transparent;
      transition: 0.3s;

      span {
        flex-shrink: 0;
        display: block;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        margin-bottom: 6px;
        transition: 0.3s;
        box-shadow: 0 0 5px 1px #eee;
      }

      h5 {
        color: var(--Black, #0f0f0f);
        opacity: 0;
        text-align: center;
        font-family: "BlissPro", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 120.8%;
        letter-spacing: 1.425px;
        text-transform: uppercase;
        transition: 0.3s all;
      }

      &:hover {
        span {
          width: 54px;
          height: 54px;
        }

        h5 {
          width: auto;
          height: auto;
          opacity: 0.6;
        }
      }
    }
  }

  .three-model {
    max-width: 1145px;
    height: 710px;
    margin: auto;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .model-angle {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      position: relative;
      background: transparent;
      color: var(--White, #fff);
      font-family: BlissPro;
      font-size: 19.081px;
      font-style: normal;
      font-weight: 700;
      line-height: 120.8%;
      border: none;
      outline: none;
      padding: 0px 18px 8px;

      img {
        position: absolute;
        bottom: -180%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

#gallery {
  .head {
    padding-top: 100px;
    padding-bottom: 10px;

    .gallery-nav {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      h3 {
        color: var(--Main-color, #007295);
        text-align: center;
        font-family: TERRANICA;
        font-size: 37px;
        font-style: normal;
        font-weight: 400;
        line-height: 124.8%;
        letter-spacing: 1.48px;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      .switch {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        button {
          color: #9a9c9c;
          text-align: center;
          font-family: "BlissPro", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 124.8%;
          text-transform: uppercase;
          border: none;
          outline: none;
          opacity: 0.8;

          &.active {
            color: var(--Main-color, #007295);
          }
        }

        span {
          color: rgba(60, 60, 60, 0.18);
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: bold;
          line-height: 124.8%;
          letter-spacing: 0.72px;
          text-transform: uppercase;
        }
      }

      .slider-control {
        display: flex;
        align-items: center;
        gap: 23px;

        button {
          border: none;
          outline: none;
          width: 21px;
          height: 23px;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .show {
          display: flex;
          align-items: flex-end;

          h4 {
            font-size: 44px;
            font-weight: 400;
            line-height: 46px;
            color: #007295;
          }

          span {
            font-size: 22px;
            line-height: 32px;
            color: #9a9c9c;
          }

          h5 {
            font-size: 22px;
            font-weight: 400;
            line-height: 32px;
            color: #9a9c9c;
          }
        }
      }
    }
  }
  .gallery-photos {
    display: flex;
    align-items: center;
    overflow-x: auto;
    &::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: #e4e8e8;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #4c9cb5;
    }

    .gallery-item {
      min-width: 205px;
      cursor: pointer;
    }
  }
}

#interior {
  background-color: #d9dede;
  padding-top: 178px;

  .head {
    padding-bottom: 30px;

    h2 {
      color: var(--White, #fff);
      text-align: center;
      font-family: TERRANICA;
      font-size: 37px;
      font-style: normal;
      font-weight: 400;
      line-height: 168%;
      letter-spacing: 1.48px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    p {
      color: #9a9c9c;
      text-align: center;
      font-family: "BlissPro", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120.8%;
    }

    .categories {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 65px;
      position: relative;
      z-index: 10;

      .category-box {
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .popover {
          height: 450px;

          max-width: 900px !important;
          padding: 15px 0px;
          background-color: #d9dede;
          filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.25));
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          color: #fff;
          display: none;
          font-size: 12px;
          font-family: "BlissPro", sans-serif;
          left: 50%;
          transform: translateX(-50%);
          top: 80px;
          position: absolute;
          z-index: 4;

          &:before {
            border-bottom: 18px solid #d9dede;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
            top: -17px;
            content: "";
            display: block;
            left: 50%;
            margin-left: -12px;
            position: absolute;
          }

          .popover-head {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 20px;
            padding: 0 16px;

            button {
              border: none;
              outline: none;
              background: transparent;
            }
          }

          .popover-wrapper {
            padding: 15px 40px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 88%;

            &::-webkit-scrollbar-track {
              border-radius: 2px;
              background-color: #e4e8e8;
            }

            &::-webkit-scrollbar {
              width: 4px;
              background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: #4c9cb5;
            }

            .content {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 20px;

              h3 {
                color: var(--White, #fff);
                font-family: TERRANICA;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 168%;
                letter-spacing: 1.28px;
                text-transform: uppercase;
                margin-bottom: 19px;
              }

              p {
                color: #9a9c9c;
                font-family: "BlissPro";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                margin-bottom: 23px;
              }

              .img-content {
                width: 445px;

                img {
                  width: 100%;
                }
              }
            }
          }
        }

        &:focus-within {
          .popover {
            display: block;
            -webkit-animation: fade-in 0.3s linear 1, move-up 0.3s linear 1;
            -moz-animation: fade-in 0.3s linear 1, move-up 0.3s linear 1;
            -ms-animation: fade-in 0.3s linear 1, move-up 0.3s linear 1;
          }
        }
      }

      button.interior-item {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        transition: 0.3s;
        position: relative;

        &:hover {
          width: 60px;
          height: 60px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

#preorder {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  padding-top: 80px;
  padding-bottom: 36px;
  background-image: url(../img/home/Expedition.jpg);
  min-height: 1730px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  .order-modal {
    padding: 96px 120px 110px 66px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border-radius: 38px;
    background: linear-gradient(
      137deg,
      rgba(15, 15, 15, 0.17) 14.91%,
      rgba(184, 190, 252, 0.17) 75.91%
    );

    h2 {
      color: var(--White, #fff);
      font-family: TERRANICA;
      font-size: 49px;
      font-style: normal;
      font-weight: 400;
      line-height: 153.3%;
      letter-spacing: 1.96px;
      text-transform: uppercase;
      margin-bottom: 18px;
    }

    p {
      max-width: 330px;
      color: #777;
      font-family: "BlissPro", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120.8%;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .input-group {
        margin-bottom: 18px;
        max-width: 350px;

        input {
          width: 100%;
          padding: 18px 20px;
          background: #f9f9f9;
          border: solid 1.5px rgba(199, 199, 199, 0.24);
          color: #3c3c3c;
          font-family: "BlissPro", sans-serif;
          font-size: 17.342px;
          font-style: normal;
          font-weight: 400;
          line-height: 120.8%;
          border-radius: 8px;
          outline: none;

          &::placeholder {
            color: rgba($color: #3c3c3c, $alpha: 0.3);
          }
        }
      }

      .submit-button {
        margin-bottom: 18px;
        width: 350px;
        margin-top: 10px;

        input {
          width: 100%;
          padding: 16px 45px;
          border-radius: 8px;
          background: #313131;
          border: none;
          outline: none;
          color: var(--White, #fff);
          text-align: center;
          font-family: "BlissPro", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 134.2%;
          letter-spacing: 0.8px;
          text-transform: uppercase;
        }
      }

      .input-checkbox {
        max-width: 350px;
        display: flex;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        gap: 14px;

        .contain-box {
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
          }

          &:hover input ~ .checkmark {
            background-color: #ccc;
          }

          input:checked ~ .checkmark {
            background-color: #ffffff;
          }

          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          .checkmark:after {
            left: 9px;
            top: 4px;
            width: 8px;
            height: 14px;
            border: solid #0f0f0f;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }

        label {
          color: rgba(60, 60, 60, 0.59);
          font-family: "BlissPro", sans-serif;
          font-size: 12.245px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.509px;
        }
      }
    }
  }
}
