@charset "UTF-8";
/* Шрифт для заголовков */
@font-face {
  font-family: "Terranica";
  src: url("../fonts/TERRANICA.ttf");
}
/* Шрифт для описаний */
/* Лайт */
@font-face {
  font-weight: 300;
  font-family: "BlissPro";
  src: url("../fonts/BlissPro-ExtraLight.ttf");
}
/* Регуляр */
@font-face {
  font-weight: normal;
  font-family: "BlissPro";
  src: url("../fonts/BlissPro-Medium.ttf");
}
/* Болд */
@font-face {
  font-weight: bold;
  font-family: "BlissPro";
  src: url("../fonts/BlissPro-Heavy.ttf");
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move-up {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}
@-moz-keyframes move-up {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}
@-ms-keyframes move-up {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BlissPro", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background: #f1f1f1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f1f1f1;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/* Стили UI */
.bterr {
  border: none;
  background: #313131;
  font-size: 18px;
  border-radius: 7px;
  padding: 16.84px 45.47px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}

.bterr:hover {
  background: #0f0f0f;
}

.iterr {
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
  padding: 15px;
}

.black span {
  background: #000 !important;
}

.h3-title {
  font-size: 37px;
  color: #007295;
  font-weight: 400;
  font-family: "TERRANICA";
  text-transform: uppercase;
  line-height: 56px;
}

/* Базовые настройки */
.burger-menu {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  z-index: 20;
}

.burger-menu span {
  display: block;
  background: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  transition: 0.3s;
}

.burger-menu span:nth-child(1) {
  width: 23px;
  top: 0;
  right: 0;
}

.burger-menu span:nth-child(2) {
  top: 8px;
  transition: none;
}

.burger-menu span:nth-child(3) {
  top: 16px;
}

.burger-menu--active span {
  background: #000;
}

.burger-menu--active span:nth-child(2) {
  visibility: hidden;
}

.burger-menu--active span:nth-child(1) {
  transform: rotate(-40deg);
  top: 8px;
  width: 100%;
}

.burger-menu--active span:nth-child(3) {
  transform: rotate(40deg);
  width: 100%;
  top: 8px;
}

.noscroll {
  overflow-y: hidden !important;
  padding-right: 18px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.overlay--active {
  visibility: visible;
}

.overlay-container {
  position: relative;
}

.overlay-container > img {
  width: 300px;
}

.overlay-close {
  background: none;
  color: #fff;
  font-size: 20px;
  border: none;
  position: absolute;
  top: -20px;
  right: -20px;
}

.overlay-close img {
  width: 20px;
}

/* HEADER */
.header {
  background: #f1f1f1;
}

.h-main {
  background: url("../img/header-screen.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
  position: relative;
}

.h-main .header__main {
  height: 100vh;
}

.h-mid__span {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.h-mid__h1-title {
  font-size: 51px;
  color: #fff;
  font-weight: 400;
  font-family: "TERRANICA", sans-serif;
  text-transform: uppercase;
}

.h-mid__button {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 0px 0px 4px #96dfff;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.h-mid__button img:nth-child(2) {
  display: none;
}

.h-mid__button:hover {
  color: #3c3c3c;
  text-shadow: none;
}

.h-mid__button:hover img:nth-child(1) {
  display: none;
}

.h-mid__button:hover img:nth-child(2) {
  display: inline-block;
}

.h-mid__button img {
  margin-right: 10px;
}

.header__menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
  z-index: 19;
  margin-top: -100vh;
  margin-right: -16px;
}

.header__menu--active {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  left: 0;
  margin-right: 0;
}

.logo {
  position: relative;
  z-index: 20;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img:nth-child(2) {
  display: none;
}

.logo--active img:nth-child(2) {
  display: block;
}

.logo--active img:nth-child(1) {
  display: none;
}

.hmenu {
  margin-top: 100px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow-y: hidden;
}

.hmenu__h3-title {
  color: #3c3c3c;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.hmenu__l-contacts {
  list-style: none;
  padding: 0;
}

.l-contacts__item {
  font-size: 25px;
  color: #007295;
  font-weight: bold;
  cursor: pointer;
}

.l-contacts__item:hover {
  color: #04556d;
}

.h-menu__h-slinks p {
  font-size: 18px;
  color: #9a9c9c;
}

.h-slinks {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.h-slinks__item:not(:first-child) {
  margin-left: 20px;
}

.hmenu__twork {
  padding: 0;
  list-style: none;
}

.twork__item {
  font-size: 18px;
  color: #9a9c9c;
}

.twork__item:not(:first-child) {
  margin-top: 15px;
}

.twork__item span {
  font-weight: bold;
  color: #000;
}

.hmenu__button {
  margin-top: 20px;
}

.hmenu__subus {
  margin-top: 25px;
}

.subus__sul {
  list-style: none;
  padding: 0;
}

.sul__link img {
  width: 30px;
}

.sul__item:not(:first-child) {
  margin-left: 20px;
}

.logos img:not(:first-child) {
  margin-left: 20px;
}

.logos span {
  display: block;
  height: 100%;
  width: 1px;
  background: #000;
}

.hmenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  overflow: hidden;
}
.hmenu .contact-left {
  position: absolute;
  left: calc(50% + 1px);
  bottom: 0;
  top: 20vh;
  right: 0;
  width: 50vw;
  margin-top: -80px;
  display: none;
}
.hmenu .contact-left.open {
  display: block;
}
.hmenu .contact-left .contact-map {
  width: 100%;
  height: 100%;
}
.hmenu .contact-left .contact-map iframe {
  width: 100%;
  height: 100%;
}

.hmenu__h-menu {
  padding-left: 100px;
  display: none;
}
.hmenu__h-menu.open {
  display: block;
}

.h-line {
  width: 2px;
  height: 100%;
  background: rgba(112, 127, 255, 0.2117647059);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hmenu__h-contacts {
  padding-right: 100px;
  height: 100%;
}

.hmenu-ul {
  list-style: none;
  padding: 0;
  line-height: 65px;
}

.hmenu-ul__link {
  color: #3c3c3c;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
  word-break: keep-all;
  display: flex;
}

.hmenu-ul__link:hover {
  opacity: 0.6;
  color: #3c3c3c;
}

.hmenu-ul--active {
  margin-left: -40px;
  display: flex;
  align-items: center;
}

.hmenu-ul--active:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #007295;
  border-radius: 100px;
  margin-right: 15px;
}

/* END HEADER */
/* FOOTER */
.footer {
  background: #0f0f0f;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 0;
}

.header__top {
  position: fixed;
  padding-right: 15px;
  padding-left: 0 !important;
  z-index: 150;
  top: 0;
}

.header-nav {
  padding: 30px 0;
}

.f-mid__ul {
  color: #fff;
  list-style: none;
  padding: 0;
}

.f-mid__item {
  color: var(--White, #fff);
  text-shadow: 0px 4px 4px rgba(150, 223, 255, 0.2);
  font-family: "BlissPro", sans-serif;
  font-size: 25.716px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.8%;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 3.5px;
}
.f-mid__item:hover {
  color: #007295;
}

.f-mid__subtitle {
  max-width: 390px;
  color: #777;
  font-family: "BlissPro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.8%;
}

.socials-l {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.socials-l span {
  display: block;
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s all;
}
.socials-l .mail {
  background-image: url(../img/footer/mail.svg);
}
.socials-l .mail:hover {
  background-image: url(../img/footer/mail-h.svg);
}
.socials-l .telegram {
  background-image: url(../img/footer/telegram.svg);
}
.socials-l .telegram:hover {
  background-image: url(../img/footer/telegram-h.svg);
}
.socials-l .whatsapp {
  background-image: url(../img/footer/whatsapp.svg);
}
.socials-l .whatsapp:hover {
  background-image: url(../img/footer/whatsapp-h.svg);
}
.socials-l .phone {
  background-image: url(../img/footer/phone.svg);
}
.socials-l .phone:hover {
  background-image: url(../img/footer/phone-h.svg);
}

.socials-l__item:not(:first-child) {
  margin-left: 30px;
}

.f-mid-block__f-contacts {
  list-style: none;
}

.f-contacts__item {
  color: #fff;
}

.f-contacts__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-family: "BlissPro";
  transition: 0.1s;
}

.f-contacts__link p {
  opacity: 0.4;
}

.s-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.s-list .s-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-list span {
  display: block;
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s all;
}
.s-list .youtube {
  background-image: url(../img/footer/youtube.svg);
}
.s-list .youtube:hover {
  background-image: url(../img/footer/youtube-h.svg);
}
.s-list .facebook {
  background-image: url(../img/footer/facebook.svg);
}
.s-list .facebook:hover {
  background-image: url(../img/footer/facebook-h.svg);
}
.s-list .vk {
  background-image: url(../img/footer/vk.svg);
}
.s-list .vk:hover {
  background-image: url(../img/footer/vk-h.svg);
}
.s-list .instagram {
  background-image: url(../img/footer/instagram.svg);
  margin-left: 5px;
}
.s-list .instagram:hover {
  background-image: url(../img/footer/instagram-h.svg);
}

.s-list__item:not(:first-child) {
  margin-left: 20px;
}

.f-mid-title {
  font-size: 18px;
  text-align: right;
  color: #fff;
  opacity: 0.4;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.footer__bottom {
  border-top: 1px solid #8d8d8d;
  padding-top: 40px;
}

.f-bottom__p {
  color: #4f4f4f;
  font-family: "BlissPro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.2%; /* 18.788px */
}

/* END FOOTER */
/* ABOUT */
.about {
  padding: 40px 0;
  position: relative;
}

.about-top {
  border-top: 1px solid rgba(60, 60, 60, 0.1803921569);
  padding-top: 30px;
  margin-top: 20px;
}

.about-top__t-desc {
  font-size: 22px;
  font-weight: 500;
  color: #3c3c3c;
  max-width: 700px;
}

.about-top__blocks {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap: 30px;
}

.at-block {
  position: relative;
}

.at-block p {
  font-size: 18px;
  font-weight: 400;
  color: #8a8a8a;
  line-height: 23px;
}

.at-block p:first-child {
  margin-top: 40px;
}

.at-block img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.at-block:nth-child(2) {
  margin-top: -50px;
}
.at-block:nth-child(2)::after {
  content: "";
  display: block;
  width: 474px;
  height: 474px;
  border-radius: 100%;
  background: #007295;
  position: absolute;
  top: -40px;
  right: 0;
}

.about-down {
  padding-top: 100px;
  padding-bottom: 40px;
}

.about-down img {
  filter: grayscale(1);
  transition: 0.3s;
  cursor: pointer;
}

.about-down img:hover {
  filter: grayscale(0);
}

.about-down__blocks {
  display: grid;
  grid-template-columns: repeat(2, 500px);
}

.ad-block__top {
  border-bottom: 1px solid rgba(60, 60, 60, 0.1803921569);
  margin-bottom: 20px;
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.ad-block__top h3 {
  text-transform: uppercase;
  font-size: 40px;
  color: #3c3c3c;
}

.ad-arrow svg {
  transform: rotate(-90deg);
}

.ad-arrow--active svg {
  transform: rotate(0);
}

.ad-block {
  display: block !important;
}

.ad-block__down {
  display: none;
}

.ad-block__down--active {
  display: block;
}

/* SUPPORT */
.support__main {
  background: #007295;
  padding: 20px;
  border-radius: 20px;
}

.support__img img {
  border-radius: 20px;
}

.support__img img:first-child {
  filter: hue-rotate(166deg);
}

.support__img img:nth-child(1) {
  filter: sepia(100%) brightness(87%) saturate(216%) contrast(112%) invert(5%);
  -webkit-filter: sepia(100%) brightness(87%) saturate(216%) contrast(112%) invert(5%);
  -moz-filter: sepia(100%) brightness(87%) saturate(216%) contrast(112%) invert(5%);
}

.support__img img:nth-child(2) {
  filter: sepia(100%) hue-rotate(166deg) saturate(116%) contrast(143%);
  -webkit-filter: sepia(100%) hue-rotate(166deg) saturate(116%) contrast(143%);
  -moz-filter: sepia(100%) hue-rotate(166deg) saturate(116%) contrast(143%);
}

.support__img img:not(:first-child) {
  margin-top: 20px;
}

.support__line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1803921569);
  margin-top: 20px;
  margin-bottom: 20px;
}

.support__text {
  margin-left: 60px;
}

/* DEALER */
.d-form textarea {
  margin-top: 20px;
}

.d-form input[type=submit] {
  padding: 16px 45px;
  width: 100%;
}

.d-check {
  font-size: 12px;
  color: rgba(60, 60, 60, 0.5882352941);
}

.d-check {
  display: grid;
  grid-template-columns: 20px 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.d-check-block {
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.d-check img {
  display: none;
}

#d-check:checked ~ .d-check img {
  display: block;
}

.loader-box {
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-box .loader {
  position: relative;
}
.loader-box .loader .ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 127px;
  height: 127px;
}
.loader-box .loader .ring img {
  width: 100%;
  height: 100%;
}
.loader-box .loader .star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 107px;
  height: 107px;
}
.loader-box .loader .star img {
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=style.css.map */
