.wrapper header.header .header__top .logo-1 {
  display: none;
}
.wrapper header.header .header__top .logo-2 {
  display: block;
}
.wrapper header.header .header__top .burger-menu span {
  background-color: #3c3c3c;
}
.wrapper main#article-info {
  margin-top: 80px;
}
.wrapper main#article-info .article-head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(60, 60, 60, 0.18);
  margin-bottom: 45px;
}
.wrapper main#article-info .article-head ul.news-badges {
  display: flex;
  align-items: center;
  gap: 11px;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.wrapper main#article-info .article-head ul.news-badges li span {
  color: rgba(60, 60, 60, 0.18);
  text-align: center;
  font-family: Achieve;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 124.8%;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.wrapper main#article-info .article-head ul.news-badges li a {
  color: #9a9c9c;
  text-align: center;
  font-family: "BlissPro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.8%;
  text-transform: uppercase;
  text-decoration: none;
}
.wrapper main#article-info .article-head ul.news-badges li a.active {
  color: #007295;
}
.wrapper main#article-info .article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper main#article-info .article-content h4 {
  color: #000;
  font-family: "BlissPro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 134.2%; /* 24.156px */
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 17px;
}
.wrapper main#article-info .article-content h1 {
  color: var(--Main-color, #007295);
  text-align: center;
  font-family: TERRANICA;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%; /* 62.16px */
  letter-spacing: 1.48px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.wrapper main#article-info .article-content .content-img {
  width: 100%;
  max-width: 950px;
  height: 365px;
  margin-bottom: 48px;
  border-radius: 25px;
}
.wrapper main#article-info .article-content .content-img img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.wrapper main#article-info .article-content .article-text {
  max-width: 650px;
  margin-bottom: 35px;
}
.wrapper main#article-info .article-content .article-text p {
  color: #8a8a8a;
  font-family: "BlissPro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;
}
.wrapper #article-main {
  width: 100%;
  height: 100vh;
  position: relative;
}
.wrapper #article-main #article-info-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper #article-main .video-controllers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper #article-main .video-controllers button {
  width: 125px;
  height: 125px;
  outline: none;
  background: transparent;
  border: none;
  overflow: hidden;
  display: none;
}
.wrapper #article-main .video-controllers button.active {
  display: block;
}
.wrapper #article-main .video-controllers button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(2);
}
.wrapper #news-part {
  padding-top: 87px;
  padding-bottom: 56px;
}
.wrapper #news-part .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.wrapper #news-part .content .news-card {
  display: flex;
  align-items: start;
  gap: 27px;
  padding-bottom: 40px;
}
.wrapper #news-part .content .news-card .card-img {
  max-width: 195px;
  width: 100%;
  height: 169px;
  border-radius: 28px;
  padding-top: 9px;
}
.wrapper #news-part .content .news-card .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 28px;
  object-fit: cover;
}
.wrapper #news-part .content .news-card .card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.wrapper #news-part .content .news-card .card-info h3 {
  color: var(--Main-color, #007295);
  font-family: "BlissPro", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.8%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.wrapper #news-part .content .news-card .card-info span {
  color: var(--Gray, #3c3c3c);
  font-family: "BlissPro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 131.8%;
  margin-bottom: 13px;
}
.wrapper #news-part .content .news-card .card-info p {
  color: #8a8a8a;
  font-family: "BlissPro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.8%;
}
.wrapper #news-part .more-button {
  text-align: center;
}
.wrapper #news-part .more-button button {
  padding: 16px 45px;
  border-radius: 7.883px;
  border: 1px solid var(--Main-color, #007295);
  color: var(--Main-color, #007295);
  text-align: center;
  font-family: "BlissPro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 134.2%; /* 24.156px */
  letter-spacing: 0.72px;
  text-transform: uppercase;
  background: transparent;
  transition: 0.2s;
}
.wrapper #news-part .more-button button:hover {
  background: var(--Main-color, #007295);
  color: var(--White, #fff);
}

/*# sourceMappingURL=article.css.map */
